<!DOCTYPE>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phone Book</title>
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body ng-controller="AppCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1>{{stringHeader}}</h1>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>Search</label>
                                <input type="text" ng-model="search" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                </div>
                <button class="btn-create-contact" ng-click="resetValues()" data-toggle="modal" data-target="#CreateContact"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="jumbotron some-info pull-right">
                    Total Contacts: <strong>{{contactlist.length}}</strong> <br />
                    Number of contacts shown: <strong>{{filteredContact.length}}</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible fade in" ng-show="successAddContact">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Contact added successfully!</strong>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-contact-list">
                        <thead>
                            <tr>
                                <th ng-click="sort('name')">{{stringName}} <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                <th ng-click="sort('mobile')">{{stringMobile}} <span class="glyphicon sort-icon" ng-show="sortKey=='mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                <th ng-click="sort('email')">{{stringEmail}} <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                <th>{{stringActions}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contact in filteredContact = (contactlist | orderBy:sortKey:reverse | filter:search | limitTo:quantity)">
                                <td ng-click="passData(contact._id)" data-toggle="modal" data-target="#ViewContact">{{contact.name}}</td>
                                <td ng-click="passData(contact._id)" data-toggle="modal" data-target="#ViewContact">{{contact.mobile}}</td>
                                <td ng-click="passData(contact._id)" data-toggle="modal" data-target="#ViewContact">{{contact.email}}</td>
                                <td class="icon-container">
                                    <label class="icons" ng-click="passData(contact._id)" data-toggle="modal" data-target="#ViewContact"><span class="glyphicon glyphicon-eye-open"></span></label>
                                    <label class="icons" ng-click="edit(contact._id)" data-toggle="modal" data-target="#EditContact"><span class="glyphicon glyphicon-pencil"></span></label>
                                    <label class="icons" ng-click="passData(contact._id)" data-toggle="modal" data-target="#ConfirmationModal"><span class="glyphicon glyphicon-trash"></span></label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"><p ng-hide="filteredContact.length">There is no result</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Create Contact -->
    <div class="modal fade" id="CreateContact" tabindex="-1" role="dialog" aria-labelledby="CreateContactLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="CreateContactLabel">{{stringCreateContact}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>{{stringName}}</td>
                            <td><input class="form-control" ng-model="contact.name"></td>
                        </tr>
                        <tr>
                            <td>{{stringMobile}}</td>
                            <td><input class="form-control" ng-model="contact.mobile"></td>
                        </tr>
                        <tr>
                            <td>{{stringEmail}}</td>
                            <td><input class="form-control" ng-model="contact.email"></td>
                        </tr>
                        <tr>
                            <td>{{stringNotes}}</td>
                            <td><input class="form-control" ng-model="contact.notes"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{stringClose}}</button>
                    <button class="btn btn-primary" ng-click="addContact()" data-dismiss="modal">{{stringCreate}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Edit Contact -->
    <div class="modal fade" id="EditContact" tabindex="-1" role="dialog" aria-labelledby="EditContactLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="EditContactLabel">{{stringEditContact}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>{{stringName}}</td>
                            <td><input class="form-control" ng-model="contact.name"></td>
                        </tr>
                        <tr>
                            <td>{{stringMobile}}</td>
                            <td><input class="form-control" ng-model="contact.mobile"></td>
                        </tr>
                        <tr>
                            <td>{{stringEmail}}</td>
                            <td><input class="form-control" ng-model="contact.email"></td>
                        </tr>
                        <tr>
                            <td>{{stringNotes}}</td>
                            <td><input class="form-control" ng-model="contact.notes"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{stringClose}}</button>
                    <button class="btn btn-warning" ng-click="update()" data-dismiss="modal">{{stringUpdate}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for View Contact -->
    <div class="modal fade" id="ViewContact" tabindex="-1" role="dialog" aria-labelledby="ViewContactLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ViewContactLabel">{{stringViewContact}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>{{stringName}}</td>
                            <td>{{contact.name}}</td>
                        </tr>
                        <tr>
                            <td>{{stringMobile}}</td>
                            <td>{{contact.mobile}}</td>
                        </tr>
                        <tr>
                            <td>{{stringEmail}}</td>
                            <td>{{contact.email}}</td>
                        </tr>
                        <tr>
                            <td>{{stringNotes}}</td>
                            <td>{{contact.notes}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{stringClose}}</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for Deletion Confirmation -->
    <div class="modal fade" id="ConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmationModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ConfirmationModalLabel">{{stringDeleteContact}}</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{stringNo}}</button>
                    <button class="btn btn-danger" ng-click="remove(contact._id)" data-dismiss="modal">{{stringYes}}</button>
                </div>
            </div>
        </div>
    </div>

    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
</body>
</html>